body {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   background-color: #fff;
   color: #434455;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4 {
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

img {
   display: block;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

.section {
   padding-top: 120px;
   padding-bottom: 120px;
}

/* Header */
.page-header {
   border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
   background: var(--WHITE, #FFF);
   border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);

   display: flex;
}

.main-nav {
   display: flex;
   align-items: center;
}

.page-nav {
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.02em;
   text-decoration: none;

   display: flex;
   align-items: center;
}

.page-nav .link:hover,
.page-nav .link:focus {
   color: #404BBF
}

.link-list {
   text-decoration: none;
   list-style-type: none;

   display: flex;
}

.link-list .link {
   display: block;
   padding-top: 24px;
   padding-bottom: 24px;
}

.link-list-item:not(:last-child) {
   margin-right: 40px;
}

.link-list .link {
   line-height: 1.5;
   color: #2e2f42;

}

.logo {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   text-decoration: none;

   margin-right: 76px;
   padding-top: 24px;
   padding-bottom: 24px;
}

.logo-ending {
   color: #2e2f42;
}

.contacts {
   font-style: normal;
   margin-left: auto;
}

.contacts-list {
   text-decoration: none;
   list-style-type: none;
   letter-spacing: 0.02em;

   display: flex;
}

.contacts-list-item {
   letter-spacing: 0.02em;
   color: #434455;
}

.contacts-list-item:not(:last-child) {
   margin-right: 40px;
}

.contacts-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
   color: #404BBF;
   letter-spacing: 0.02em;
}

/* Hero title */
.hero-title {
   background: var(--NAVY-BLUE, #2E2F42);
   padding-top: 188px;
   padding-bottom: 188px;
}

.page-title {
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #FFFFFF;

   max-width: 496px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.page-button {
   background-color: #4D5AE5;
   color: #FFFFFF;
   cursor: pointer;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;

   display: block;
   padding: 16px 32px;
   align-items: center;
   gap: 10px;
   margin-top: 48px;
   margin-left: auto;
   margin-right: auto;
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
}

.page-button:hover,
.page-button:focus {
   background-color: #404BBF;
}

/* Features */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.feature-list {
   text-decoration: none;
   list-style-type: none;

   display: flex;
}

.feature-list-item {
   width: calc((100% - 72px) / 4);
   height: 104px;

   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}

.feature-list-item:not(:last-child) {
   margin-right: 24px;
}

.feature-list-title {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;

   margin-bottom: 8px;
}

.feature-list .text {
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* Team */
.section.section.team {
   background: var(--CLOUD, #F4F4FD);
}

.team-section-title {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
   color: #2E2F42;

   margin-bottom: 72px;
   padding-right: auto;
   padding-left: auto;
}

.team-list {
   text-decoration: none;
   list-style-type: none;

   display: flex;
}

.team-list-item {
   background-color: #FFFFFF;

   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
   margin-right: 24px;
}

.team-list-div {
   padding: 32px 0;
   text-align: center;
}

.team-list-title {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;

   text-align: center;
   margin-bottom: 8px;
}

.team-list .text {
   line-height: 1.5;
   letter-spacing: 0.02em;

   text-align: center;
}

/* Portfolio */
.portfolio-section-title {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
   color: #2E2F42;

   margin-bottom: 72px;
}

.portfolio-list {
   text-decoration: none;
   list-style-type: none;

   display: flex;
   flex-wrap: wrap;
}

.portfolio-list-item {
   width: calc((100% - 48px) / 3);
   margin-right: 24px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 8px;
   align-self: stretch;
}

.portfolio-list-item:nth-child(3n) {
   margin-right: 0;
}

.portfolio-list-item:nth-child(-n + 3) {
   margin-bottom: 48px;
}

.portfolio-list-div {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
   width: 360px;
}

.portfolio-list-title {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;

   margin-bottom: 8px;
}

.portfolio-list .text {
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* Footer */
.page-footer {
   background-color: #2E2F42;
   padding: 100px 0
}

.logo-footer {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   text-decoration: none;

   display: inline-block;
   margin-bottom: 16px;
}

.logo-footer-ending {
   color: #f4f4fd;
}

.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;

   max-width: 264px;
}